.size-32px {
  font-size: 32px;
  font-weight: 500;
}

.quote {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #0a0a0a;
  margin-top: 60px;

  font-style: italic;
}

.charity {
  background-color: #f5f5f5;
}
.charity-info {
  padding: 36px 0 64px 0;
}

.charity-info-block {
  display: flex;
  justify-content: space-between;
}
.charity-info-body {
  margin-top: 60px;
}
.charity-info-title {
  margin-bottom: 25px;
}
.charity-info-text {
  width: 596px;
}
.charity-info-btn {
  margin-top: 100px;
  width: 320px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: var(--text-color-white);
  background-color: var(--bg-color-nephritis);
}

.charity-info-img img {
  width: 374px;
  height: 561px;
}

.charity-info-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -20px;
  width: 780px;
  height: 780px;
  background: radial-gradient(
    61.99% 61.99% at 50% 50%,
    #21836d 0%,
    #f5f5f5 61.67%
  );
}
@media (max-width: 1024px) {
  .charity-info {
    padding-top: 150px;
  }
}

@media (max-width: 992px) {
  .charity-info-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .charity-info-btn {
    margin: 50px auto;
  }
}

@media (max-width: 992px) {
  .charity-info-text {
    width: 100%;
  }

  .charity-info-img img {
    width: 100%;
  }

  .charity-info-img {
    width: 100%;
    height: auto;
    background: radial-gradient(
      61.99% 61.99% at 50% 50%,
      #21836d 0%,
      #f5f5f5 61.67%
    );
  }
}

@media (max-width: 426px) {
  .charity-info {
    padding-top: 70px;
  }

  .charity-info-block {
    text-align: start;
  }
  .charity-info-title {
    font-size: 32px;
    margin-top: 15px;
  }
  .charity-info-btn {
    width: 100%;
  }
}

/*torch*/

.torch {
  padding: 60px 0;
}

.torch-cards-block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.torch-card {
  width: 453px;
  height: 204px;
  padding: 20px;
  border-radius: 20px;
  background-color: #cbdeda;
}
.torch-card-img {
  margin-bottom: 20px;
}
.torch-card-img img {
  background-color: #cbdeda;
}
.torch-card-title p {
  font-size: 32px;
}
@media (max-width: 992px) {
  .torch-card {
    width: 100%;
  }
  .torch-cards-block {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .torch-card-title p {
    font-size: 28px;
  }
}

/*hellp-live-b*/

.hellp-live-b {
  padding-top: 100px;
}
.hellp-live-b-block h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  margin-bottom: 25px;
}

.hellp-live-b-block-tex {
  margin-bottom: 60px;
}
.exempla-active {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}
.hellp-live-b-active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.hellp-live-b-active-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  width: 216px;
  height: 220px;
  background: url(../img/charity/vector.png);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.active-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 188px;
  padding: 10px;
  font-weight: 700;
  text-align: center;
  border-radius: 100px;
  background: rgba(33, 131, 109, 0.2);
  backdrop-filter: blur(2px);
}

.img-t {
  margin-bottom: -20px;
}
.active-card-img {
  text-align: center;
}
.active-card-img img {
  width: 150px;
}

@media (max-width: 768px) {
  .hellp-live-b-block h2 {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .hellp-live-b-block h2 {
    font-size: 30px;
  }
  .hellp-live-b-active-card {
    width: 100%;
  }
}
/*works-info-b */

.works-info-b {
  padding: 100px 0;
}

.works-info-b-block h4 {
  font-weight: 700;
  font-size: 60px;
}

.works-info-b-cards {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.works-info-b-card {
  width: 440px;
  height: 410px;
  padding: 10px 10px 65px 10px;
  background-color: #fff;
  border-radius: 30px;
}
.works-info-b-card-img {
  text-align: center;
  margin-bottom: 30px;
  background: url(../img/charity/vector.png) no-repeat;
  background-color: #f5f5f5;
  border-radius: 20px;
}
.works-info-b-card-number {
  font-size: 30px;
  font-weight: 600;
  color: #21836d;
  margin-bottom: 15px;
}
.works-info-b-card-text {
  width: 190px;
}
@media (max-width: 425px) {
  .works-info-b-block h4 {
    font-size: 30px;
  }
  .works-info-b-card {
    width: 100%;
  }
  .works-info-b-card-img img {
    width: 100%;
  }
}

/*hellpe-b*/

.hellpe-b {
  padding: 100px 0 60px 0;
}
.hellpe-b-block {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.hellpe-b-block-1 h2 {
  font-size: 60px;
}

.hellpe-b-block-1 p {
  width: 560px;
  font-weight: 400;
  line-height: 1.5;
}
.hellpe-b-block-2 img {
  width: 100%;
}

@media (max-width: 992px) {
  .hellpe-b-block {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .hellpe-b-block-1 p {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .hellpe-b {
    padding: 60px 0 60px 0;
  }

  .hellpe-b-block-1 h2 {
    font-size: 30px;
  }
}

/*.if-info */
.if-info {
  padding: 100px 0;
}
.container {
}
.if-info-b-block h4 {
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
}
.title-nephritis {
}

@media (max-width: 425px) {
  .if-info-b-block h4 {
    font-size: 30px;
  }
}
/* charity-info-form { */

.charity-info-form {
  background-color: #7cb4a7;
  padding: 100px 0;
}

.charity-info-form-block {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.charity-info-form-body {
  width: 600px;
}

.charity-info-form-body h2 {
  margin-bottom: 20px;
}
.charity-info-form-body p {
  font-size: 20px;
  font-weight: 500px;
}

.charity-info-forms {
  padding: 40px;
  width: 750px;
  border-radius: 28px;
  background-color: var(--bg-color-white);
}

.forms-wrapper-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.charity-info-form-lable {
  display: flex;
  gap: 16px;
}
.charity-info-form-lable input,
.charity-info-form-lable textarea {
  width: 100%;
  height: 60px;
  border-radius: 16px;
  border: none;
  background-color: #f5f5f5;
  padding-left: 30px;
}

.charity-info-form-lable textarea {
  padding-top: 10px;
  font-family: "Inter", sans-serif;
}
.charity-info-form-button button {
  width: 100%;
  height: 60px;
  border-radius: 16px;
  border: none;
  font-weight: 600;
  color: var(--bg-color-white);
  background-color: var(--bg-color-nephritis);
}

.forms-wrapper-block input:focus,
.charity-info-form-lable textarea:focus {
  outline: none;
  border: 2px solid var(--bg-color-nephritis);
}
.charity-info-form-button p {
  text-align: center;
  color: #626975;
  margin-top: 15px;
}
.story-users-navigation {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.story-users-block-header {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-top: -30px;
}

@media (max-width: 1024px) {
  .charity-info-form-body h2 {
    font-size: 40px;
  }
  .charity-info-form-block {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .charity-info-forms {
    width: 100%;
  }
  .charity-info-form-body {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .charity-info-form {
    padding: 40px 0;
  }
  .charity-info-form-lable {
    display: flex;
    flex-direction: column;
  }
  .charity-info-form-lable input::placeholder {
    font-size: 18px;
    padding-left: 20px;
  }

  .charity-info-form-lable textarea::placeholder {
    font-size: 18px;
    padding-left: 20px;
  }

  .charity-info-forms {
    padding: 10px;
  }

  .charity-info-form-lable input,
  .charity-info-form-lable textarea {
    padding-left: 10px;
  }
}

/* story-users-info */

.story-users-info {
  padding: 80px 0;
}

.story-users-info-block {
}
.story-users-info-title {
  margin-bottom: 16px;
}

.story-users-info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 80px;
}
.story-users-info-card {
  border-radius: 30px;

  background-color: var(--bg-color-white);
  padding: 10px 10px 20px 10px;
  width: 335px;
}
.story-users-info-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  background-image: url(../img/charity/vector2.png);
  background-repeat: no-repeat;

  border-radius: 20px;
  margin-bottom: 30px;
}
.story-users-info-card-body {
  padding: 0 10px;
}
.story-users-info-card-project {
}
.story-users-info-card-text {
}

@media (max-width: 992px) {
  .story-users-info-title {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .story-users-info-title {
    font-size: 35px;
  }
  .story-users-info-c {
    font-size: 14px;
  }
  .quote {
    font-size: 18px;
  }
}
