:root {
  --text-color-black: #000;
  --text-color-nephritis: #21836d;
  --text-color-white: #fff;

  --bg-color-nephritis: #21836d;
  --bg-color-white: #fff;
  --bg-color-gray: #f2f2f2;
  --bg-color-black: #000;
}

.consulting-info {
  padding: 90px 0 130px 0;
}

.consulting-info-block {
  display: flex;
  justify-content: space-between;
}
.consulting-info-body {
}
.consulting-info-title {
  margin-bottom: 36px;
}

.consulting-info-text {
  width: 445px;
  margin-bottom: 130px;
}
.consulting-info-btns {
  display: flex;
  gap: 20px;
}

.consulting-info-btns a:first-child {
  background-color: var(--bg-color-nephritis);
}
.consulting-info-btns a:last-child {
  background-color: var(--bg-color-black);
}
.consulting-info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 60px;
  border-radius: 16px;
  color: var(--bg-color-white);
}
.consulting-info-img {
}

/* model-info */

.model-info {
  padding: 100px 0 125px 0;
  background: #7cb4a7;
}

.model-info-block {
  display: flex;
  justify-content: space-between;
}
.model-info-body {
}
.model-info-title {
  margin-bottom: 65px;
}
.model-info-title span {
  color: var(--bg-color-white);
}

.model-info-text {
  width: 475px;
  font-size: 18px;
  margin-bottom: 65px;
}
.model-info-number {
  display: flex;
  align-items: center;
  gap: 10px;
}
.model-info-number p:first-child {
  color: var(--bg-color-white);
  font-size: 60px;
  font-weight: 600;
}

.model-info-number p:last-child {
  width: 437px;
  font-size: 24px;
  font-weight: 600;
}
.model-info-img {
}

/*  expertise-info */

.expertise-info {
  padding: 100px 0 120px 0;
}
.expertise-info-block {
}
.expertise-info-title {
  margin-bottom: 100px;
}

.expertise-info-lists {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.expertise-info-item {
  display: flex;

  color: var(--text-color-nephritis);
  font-weight: 500;
  font-size: 30px;
  color: #21836d;
  padding-bottom: 29px;
  border-bottom: 1px solid #d7d7d7;
}

.expertise-info-item p:nth-child(1) {
  width: 173px;
}
.expertise-info-item p:nth-child(2) {
  width: 422px;
  margin-right: 178px;
}
.expertise-info-item p:nth-child(3) {
  width: 466px;
  color: var(--text-color-black);
  font-size: 16px;
}
